PORT=8000

# DB_PASS=8KrdfhiijrLGRhAW

JWT_SECRET="Loopify321@"

DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

DATABASE_URL="postgresql://postgres.renhmizvzkffjidfjgjr:8KrdfhiijrLGRhAW@aws-0-ap-south-1.pooler.supabase.com:5432/postgres?pgbouncer=true"